/* Section height/width */
section {
  height: 80%;
  width: 30%
}

/* hovering ease in/out for test line */
section a:hover {
  color: #A8B7AB;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* hovering ease in/out for download icon */
section i:hover {
  color: #A8B7AB;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* Style button */
#btn {
  font-family: 'Open Sans', sans-serif;
  background-color: #EF636C;
  border: none;
  color: white;
  padding: 12px 15px;
  cursor: pointer;
  font-size: 15px;
}

/* On button hover ease in new/out new colour */
#btn[type="submit"]:hover {
  background:#A8B7AB;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}