.container-blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-twitter {
  width: 65%;
  margin: auto;
}

/* Scrolling for blog overflow */
.overflow {
  height: 80%;
  overflow: auto;
}